ORGANIZER_DOWNLOADS_DIRECTORY=~/Downloads
ORGANIZER_ROOT=~/Downloads
ORGANIZER_DATABASE_PATH=~/.local/share/organizer-butler/actions.db
ORGANIZER_MAX_EXTRACTED_TEXT_LENGTH=6000
ORGANIZER_MAX_CSV_SAMPLED_ROWS=20
ORGANIZER_MAX_CSV_COLUMNS=50
ORGANIZER_MAX_CSV_FIELD_LENGTH=1000
ORGANIZER_MAX_JSON_SOURCE_BYTES=1000000
ORGANIZER_MAX_JSON_DEPTH=8
ORGANIZER_MAX_JSON_OBJECT_KEYS=50
ORGANIZER_MAX_JSON_ARRAY_ITEMS=50
ORGANIZER_MAX_JSON_STRING_LENGTH=1000
ORGANIZER_MAX_ZIP_ARCHIVE_SIZE=100000000
ORGANIZER_MAX_ZIP_ENTRIES=1000
ORGANIZER_MAX_ZIP_FILENAME_LENGTH=512
ORGANIZER_MAX_ZIP_METADATA_READ=1000000
ORGANIZER_MAX_PDF_SOURCE_BYTES=10000000
ORGANIZER_MAX_PDF_OBJECTS=100000
ORGANIZER_MAX_PDF_METADATA_FIELDS=6
ORGANIZER_MAX_PDF_METADATA_STRING_LENGTH=1000
ORGANIZER_MAX_XLSX_SOURCE_BYTES=50000000
ORGANIZER_MAX_XLSX_PACKAGE_ENTRIES=2000
ORGANIZER_MAX_XLSX_COMPRESSED_METADATA_BYTES=1000000
ORGANIZER_MAX_XLSX_UNCOMPRESSED_METADATA_BYTES=5000000
ORGANIZER_MAX_XLSX_WORKSHEETS=1000
ORGANIZER_MAX_XLSX_RETAINED_SHEET_NAMES=100
ORGANIZER_MAX_XLSX_SHEET_NAME_LENGTH=128
ORGANIZER_MAX_DOCX_SOURCE_BYTES=50000000
ORGANIZER_MAX_DOCX_PACKAGE_ENTRIES=2000
ORGANIZER_MAX_DOCX_COMPRESSED_METADATA_BYTES=1000000
ORGANIZER_MAX_DOCX_UNCOMPRESSED_METADATA_BYTES=5000000
ORGANIZER_MAX_DOCX_METADATA_FIELDS=6
ORGANIZER_MAX_DOCX_METADATA_STRING_LENGTH=1000
ORGANIZER_MAX_PPTX_SOURCE_BYTES=50000000
ORGANIZER_MAX_PPTX_PACKAGE_ENTRIES=2000
ORGANIZER_MAX_PPTX_COMPRESSED_METADATA_BYTES=1000000
ORGANIZER_MAX_PPTX_UNCOMPRESSED_METADATA_BYTES=5000000
ORGANIZER_MAX_PPTX_SLIDES=1000
ORGANIZER_MAX_PPTX_METADATA_FIELDS=6
ORGANIZER_MAX_PPTX_METADATA_STRING_LENGTH=1000
