ORGANIZER_DOWNLOADS_DIRECTORY=~/Downloads
ORGANIZER_ROOT=~/Downloads
ORGANIZER_DATABASE_PATH=~/.local/share/organizer-butler/actions.db
ORGANIZER_MAX_EXTRACTED_TEXT_LENGTH=6000
ORGANIZER_MAX_CSV_SAMPLED_ROWS=20
ORGANIZER_MAX_CSV_COLUMNS=50
ORGANIZER_MAX_CSV_FIELD_LENGTH=1000
ORGANIZER_MAX_JSON_SOURCE_BYTES=1000000
ORGANIZER_MAX_JSON_DEPTH=8
ORGANIZER_MAX_JSON_OBJECT_KEYS=50
ORGANIZER_MAX_JSON_ARRAY_ITEMS=50
ORGANIZER_MAX_JSON_STRING_LENGTH=1000
ORGANIZER_MAX_ZIP_ARCHIVE_SIZE=100000000
ORGANIZER_MAX_ZIP_ENTRIES=1000
ORGANIZER_MAX_ZIP_FILENAME_LENGTH=512
ORGANIZER_MAX_ZIP_METADATA_READ=1000000
ORGANIZER_MAX_PDF_SOURCE_BYTES=10000000
ORGANIZER_MAX_PDF_OBJECTS=100000
ORGANIZER_MAX_PDF_METADATA_FIELDS=6
ORGANIZER_MAX_PDF_METADATA_STRING_LENGTH=1000
ORGANIZER_MAX_XLSX_SOURCE_BYTES=50000000
ORGANIZER_MAX_XLSX_PACKAGE_ENTRIES=2000
ORGANIZER_MAX_XLSX_COMPRESSED_METADATA_BYTES=1000000
ORGANIZER_MAX_XLSX_UNCOMPRESSED_METADATA_BYTES=5000000
ORGANIZER_MAX_XLSX_WORKSHEETS=1000
ORGANIZER_MAX_XLSX_RETAINED_SHEET_NAMES=100
ORGANIZER_MAX_XLSX_SHEET_NAME_LENGTH=128
ORGANIZER_MAX_XLSX_WORKSHEET_PARTS=1000
ORGANIZER_MAX_XLSX_RETAINED_SHEETS=100
ORGANIZER_MAX_XLSX_ROWS_PER_SHEET=100
ORGANIZER_MAX_XLSX_CELLS_PER_ROW=100
ORGANIZER_MAX_XLSX_CHARACTERS=6000
ORGANIZER_MAX_XLSX_SHARED_STRING_STRUCTURES=100000
ORGANIZER_MAX_XLSX_WORKSHEET_STRUCTURES=100000
ORGANIZER_MAX_DOCX_SOURCE_BYTES=50000000
ORGANIZER_MAX_DOCX_PACKAGE_ENTRIES=2000
ORGANIZER_MAX_DOCX_COMPRESSED_METADATA_BYTES=1000000
ORGANIZER_MAX_DOCX_UNCOMPRESSED_METADATA_BYTES=5000000
ORGANIZER_MAX_DOCX_METADATA_FIELDS=6
ORGANIZER_MAX_DOCX_METADATA_STRING_LENGTH=1000
ORGANIZER_MAX_DOCX_BODY_PARTS=1
ORGANIZER_MAX_DOCX_BODY_CHARACTERS=6000
ORGANIZER_MAX_DOCX_BODY_PARAGRAPHS=100
ORGANIZER_MAX_DOCX_BODY_STRUCTURES=100000
ORGANIZER_MAX_PPTX_SOURCE_BYTES=50000000
ORGANIZER_MAX_PPTX_PACKAGE_ENTRIES=2000
ORGANIZER_MAX_PPTX_COMPRESSED_METADATA_BYTES=1000000
ORGANIZER_MAX_PPTX_UNCOMPRESSED_METADATA_BYTES=5000000
ORGANIZER_MAX_PPTX_SLIDES=1000
ORGANIZER_MAX_PPTX_METADATA_FIELDS=6
ORGANIZER_MAX_PPTX_METADATA_STRING_LENGTH=1000
ORGANIZER_MAX_PPTX_SLIDE_PARTS=1000
ORGANIZER_MAX_PPTX_RETAINED_SLIDES=100
ORGANIZER_MAX_PPTX_SLIDE_CHARACTERS=6000
ORGANIZER_MAX_PPTX_TEXT_BLOCKS_PER_SLIDE=100
ORGANIZER_MAX_PPTX_SLIDE_STRUCTURES=100000
ORGANIZER_MAX_IMAGE_SOURCE_BYTES=50000000
ORGANIZER_MAX_IMAGE_DIMENSION=32768
ORGANIZER_MAX_IMAGE_PIXELS=100000000
ORGANIZER_MAX_IMAGE_STRUCTURES=10000
ORGANIZER_MAX_IMAGE_METADATA_FIELDS=4
ORGANIZER_MAX_IMAGE_METADATA_STRING_LENGTH=1000
ORGANIZER_MAX_PLAN_PATH_BYTES=4096
ORGANIZER_PLAN_EXPIRY_MS=600000
ORGANIZER_CONFIRMATION_EXPIRY_MS=300000
ORGANIZER_DIRECTORY_PLAN_EXPIRY_MS=600000
ORGANIZER_DIRECTORY_CONFIRMATION_EXPIRY_MS=300000
ORGANIZER_INVALIDATED_EXECUTION_RETENTION_MS=2592000000
ORGANIZER_EXPIRED_EXECUTION_RETENTION_MS=2592000000
ORGANIZER_COMPLETED_EXECUTION_REPLAY_RETENTION_MS=31536000000
ORGANIZER_EXECUTION_RECOVERY_LEASE_MS=30000
